:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #444;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Card{
  height: 300px;
  width: 350px;
  background-color: rgb(255, 255, 240);
  padding: 20px;
  text-align: center;
  border: 1px solid white;
  color: rgb(218, 181, 132);
  border-radius: 20px;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  
}
.Card button{
  padding: 6px 5px;
  margin-top: 10px;
  border: none;
  background-color: rgb(231, 205, 173);
  color: rgb(161, 135, 100);
}
.Card p {
  margin: 20px 0px;
  color: rgb(211, 161, 100);

}
img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius:50%
}